* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 62.5%;
}

a,
a:visited {
  color: inherit;
}

.menu-toggle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
  padding: 3rem 0;
}

.menu-toggle .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #202C52;
  cursor: pointer;
}

.menu-toggle .nav .nav-item:hover {
  color: #6e6e85;
}

.hero {
  max-width: 1140px;
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

.hero .col-left h1 {
  font-size: 5.5rem;
  line-height: 1.2;
  color: #202C52;
}

.hero .col-left p {
  width: 70%;
  font-size: 1.6rem;
  color: #B6B5BD;
}

.detail {
  position: absolute;
  top: -20rem;
  right: -20rem;
  z-index: -1;
}

.features {
  max-width: 1140px;
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.features .col-left h2 {
  font-size: 3.5rem;
  line-height: 1.2;
  color: #202C52;
}

.features .col-left p {
  width: 60%;
  font-size: 1.6rem;
  color: #B6B5BD;
}

.features .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.features .col-right .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.features .col-right .info-card .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .col-right .info-card .card-head span {
  padding: .5rem 2rem;
  max-height: 3.5rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #F45E3D;
  border-radius: 50px;
  margin-right: 2rem;
}

.features .col-right .info-card .card-head h3 {
  font-size: 2rem;
}

.features .col-right .info-card .card-text {
  font-size: 1.5rem;
  margin-left: 7rem;
  color: #B6B5BD;
}

.test-title {
  font-size: 3.5rem;
  color: #202C52;
  text-align: center;
  margin: 2em auto;
}

.test-btn {
  text-align: center;
  margin-left: 46%;
}

.testimonial {
  max-width: 1140px;
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.testimonial .test-card {
  width: 30%;
  margin: auto;
  padding: 3rem;
  background-color: #FAFAFA;
}

.testimonial .test-card h3 {
  font-size: 2rem;
  margin: 2rem 0;
}

.testimonial .test-card p {
  font-size: 1.6rem;
  color: #B6B5BD;
}

@media (max-width: 1250px) {
  .hero, .features, .testimonial {
    max-width: 950px;
  }
}

@media (max-width: 1080px) {
  .hero, .features, .testimonial {
    max-width: 750px;
  }
  .hero .col-left h1, .features .col-left h1, .testimonial .col-left h1 {
    font-size: 3.5rem;
  }
  .hero .col-right img, .features .col-right img, .testimonial .col-right img {
    width: 40rem;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .col-left {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    margin: 5rem auto;
  }
  .features .col-left p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
  }
  .detail {
    display: none;
  }
}

@media (max-width: 800px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .col-left {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10rem;
  }
  .hero .col-left h1 {
    width: 70%;
  }
  .hero .col-right img {
    width: 60rem;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10rem;
  }
  .menu-toggle .nav {
    display: none;
  }
  .menu-toggle .hamburger {
    width: 30px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .menu-toggle .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #202C52;
    -webkit-transition-duration: .4s;
            transition-duration: .4s;
  }
  .menu-toggle-on {
    background-color: #FFF0EB;
    height: 100vh;
    position: absolute;
    top: 0;
    margin: 0;
    left: 0;
    padding: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .menu-toggle-on .btn {
    display: none;
  }
  .menu-toggle-on .navbar-logo {
    display: none;
  }
  .menu-toggle-on .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 4rem;
    -ms-flex-item-align: center;
        align-self: center;
    width: 80%;
    margin: auto;
  }
  .menu-toggle-on .hamburger .one {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
  }
  .menu-toggle-on .hamburger .two {
    opacity: 0;
  }
  .menu-toggle-on .hamburger .three {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
  }
  .testimonial .test-card .avatar {
    width: 10rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 68.5%;
  }
  header .btn {
    display: none;
  }
  .hero .col-right img {
    width: 40rem;
  }
  .testimonial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonial .test-card {
    width: 70%;
    margin-bottom: 2rem;
  }
}

.pre-footer {
  width: 100%;
  padding: 10rem 0;
  background-color: #F45E3D;
  margin-top: 20rem;
}

.pre-footer .footer-content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: auto;
}

.pre-footer .footer-content1 h2 {
  font-size: 4rem;
  color: white;
}

footer {
  width: 100%;
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #292929;
}

footer .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 3.5rem;
  color: white;
  font-size: 1.6rem;
}

footer .social-col {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .social-col .icons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

footer .info-col1 ul li, footer .info-col2 ul li {
  margin-bottom: 1rem;
}

footer .info-col1 ul li:hover, footer .info-col2 ul li:hover {
  text-decoration: underline;
  color: #F26945;
}

footer .input-col .newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

footer .input-col .newsletter-form #email-input {
  width: 100%;
  border-radius: 50px;
  padding: 0 2rem;
}

.btn {
  padding: 1.3rem 2.5rem;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  background-color: #F45E3D;
  color: white;
  font-size: 1.6rem;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 400;
  -webkit-box-shadow: 0 10px 10px -10px rgba(242, 95, 58, 0.5);
          box-shadow: 0 10px 10px -10px rgba(242, 95, 58, 0.5);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.btn:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  background-color: #F26945;
}

.white-btn {
  padding: 1.3rem 2.5rem;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  background-color: #F45E3D;
  color: white;
  font-size: 1.6rem;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 400;
  -webkit-box-shadow: 0 10px 10px -10px rgba(242, 95, 58, 0.5);
          box-shadow: 0 10px 10px -10px rgba(242, 95, 58, 0.5);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  background-color: white;
  font-weight: 600;
  color: #F45E3D;
}

.white-btn:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  background-color: #F26945;
}

.white-btn:hover {
  background-color: #202C52;
}
/*# sourceMappingURL=main.css.map */